<section>
  <h3>My Listings</h3>
  <table class="table-striped">
    <thead>
    <tr>
      <th>ID. </th>
      <th>Name</th>
      <th>Summary</th>
      <th>Updated</th>
    </tr>
    </thead>

    <tbody>
    <% Array(@listings).each do |listing|%>
      <tr>
        <td><a href='/listings/<%= listing.id%>/edit'><%= listing.id%></a></td>
        <td><%= listing.name %></td>
        <td><%= listing.summary %></td>
        <td>data</td>
      </tr>
    <% end %>
    </tbody>
  </table>

</section>
