<section id="page">
<h1>Sign-Up: Listings App</h1>

<form class="form"  action="/signup" method="POST">
  <div class="input-field">
    <input type="text" name="fname" placeholder="First Name:">
  </div>

  <div class="input-field">
    <input type="text" name="lname" placeholder="Last Name:">
  </div>
  <div class="input-field">
    <input type="text" name="username" placeholder="Username:">
  </div>
  <div class="input-field">
    <input type="text" name="email" placeholder="Email:">
  </div>
  <div class="input-field">
      <input type="text" name="password" placeholder="Password:">
    </div>
  <br />
  <input type="submit" value="Sign-Up" class="button">
</form>
</section>