<h1>Sign-Up to Listings app</h1>
<h1></h1>
<br />
<form action="/signup" method="POST">
  <p>
  <label for="fname">First Name: </label>
    <input type="text" name="fname" placeholder="First Name:">
  </p>
<br />
  <p>
    <label for="lname">Last Name: </label>
    <input type="text" name="lname" placeholder="Last Name:">
  </p>
  <br />
  <p>
    <label for="username">Username: </label>
    <input type="text" name="username" placeholder="Username:">
  </p>
  <br />
  <p>
  <label for="email">Email: </label>
    <input type="text" name="email" placeholder="Email:">
  </p>
  <br />
  <p>
    <label for="password">Password:  </label>
      <input type="text" name="password" placeholder="Password:">
    </p>
  <br />
  <input type="submit" value="Sign-Up">
</form>
