<section id="page">
<h1>Sign-In: Listings Manager App</h1>
<h1></h1>
<br />
<form class="form" action="/signin" method="POST">
  <div class="input-field">
    <input type="text" name="email" placeholder="Email:">
  </div>
<br />
  <div class="input-field">
    <input type="text" name="password" placeholder="Password:">
  </div>
<br />
  <input type="submit" value="Sign-In" class="button" />
</form>
</section>